.footer{
	background: $base;
	color:$white;

	&__wrap{
		.menu{
			padding: 15px;
			ul, li{
				list-style: none;
				margin: 5px 0;
				padding: 0;
			}
		}
	}
}

.copyright{
	&__wrap{
		padding: 15px;
		justify-content: flex-end;
	}
}