/*===========================================
=            Responsive nav menu            =
===========================================*/
.header{
	&__wrap{
		position:fixed;
		top:0;
		right: 0;
		left:0;
		height: $nav-bar-height;
		z-index: 90;
		transition: 0.4s;
		background: rgba($base, .8);
		#navToggler{
			display:none;
		}
		&.hide{
			top: -$nav-bar-height;
		}
	}
	&__container{
		justify-content: space-between;
		align-items:center;
		flex-wrap: nowrap;
		height: 100%;
	}
	&__logo{
		display: flex;
		align-items: center;
		height: 100%;
		padding: 4px 0;
		img,svg{
			object-fit: contain;
			object-position: left center;
			max-height: 100%;
			max-width: 100%;
		}
	}
	&__nav{
		ul{
			margin:0;
			padding:0;
			display: flex;
			justify-content:space-between;
			li{
				margin:0;
				padding:0;
				cursor:pointer;
				list-style: none;
				a{
					display: inline-block;
					text-align: center;
				}
			}
		}
	}
	&__navCloser{
		display: none;
	}
}
@include media-breakpoint-up( lg ){
	.header{
		&__wrap{
			#mobile-hamburger{
				display:none;
			}
		}
		&__nav{
			ul{
				li.menu-item{
					position: relative;
					a{
						padding: 10px 10px;
					}
					&:hover{
						.sub-menu{
							max-height: 200px;
						}
						&.menu-item-has-children{
							&:after{
								content: '\25B2';
							}
						}
					}
					&-has-children{
						padding: 0 20px 0 0;
						&:after{
							position: absolute;
							right: 0;
							top: 0;
							content: '\25BC';
							color: $white;
							font-size: 12px;
							display: flex;
							align-items: center;
							width: 20px;
							height: 100%;
							transition: .4s;
						}
					}
					.sub-menu{
						position: absolute;
						top: 100%;
						right: 0;
						overflow: hidden;
						max-height: 0;
						transition: .4s;
						display: flex;
						flex-direction: column;
						min-width: 150px;
						a{
							background: rgba($base,.8);
							width: 100%;
							text-align: right;
						}
					}
				}
			}
		}
	}
}
@include media-breakpoint-down( md ){
	.header{
		&__wrap{
			#mobile-hamburger{
				display:block;
				position:absolute;
				right:20px;
				top:20px;
				font-size:40px;
				z-index:90;
				cursor:pointer;
				width: 30px;
				height: 30px;
				text-align:center;
				span{
					height: 3px;
					width: 100%;
					background: $white;
					// box-shadow: 0 0 1px $white;
					position: absolute;
					left:0px;
					right:0px;
					display: inline-block;
					overflow: hidden;
					transition:all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
					&:first-child,&:last-child{
						visibility:visible;
						width:100%;
						left:50%;
						transform:translateX(-50%);
					}
					&:nth-child(2){
						top: 10px;
						transform:rotate(0deg);
					}
					&:nth-child(3){
						top: 10px;
						transform:rotate(0deg);
					}
					&:last-child{
						top: 20px;
					}
				}
			}
		}
		&__nav{
			position:fixed;
			background:$white;
			top:0;
			left:100%;
			right:0;
			bottom:0;
			min-width: 200px;
			padding-top:$nav-bar-height;
			z-index:80;
			visibility:hidden;
			overflow:auto;
			color: $base;
			transition: 0.6s cubic-bezier(0.65, 0, 0.35, 1);
			box-shadow: 0 0 10px rgba($base, .6);
			&::-webkit-scrollbar { 
				display: none; 
			}
			ul{
				width:100%;
				flex-wrap:wrap;
				li{
					width:100%;
					a{
						padding: 10px 20px;
						width:100%;
						text-align: right;
					}
				}
			}
		}
		&__navCloser{
			display: block;
			opacity: 0;
			visibility: hidden;
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 79;
			background: rgba($base, .6);
		}
		#navToggler[type=checkbox]:checked{
			& ~ .header__nav{
				left: 50%;
				visibility:visible;
			}
			& ~ .header__navCloser{
				opacity: 1;
				visibility: visible;
			}
			& ~ #mobile-hamburger{
				position: fixed;
				span{
					background: $base;
					&:first-child,&:last-child{
						visibility:hidden;
						top:10px;
						width:0px;
					}
					&:nth-child(2){
						transform: rotate(45deg);
					}
					&:nth-child(3){
						transform: rotate(-45deg);
					}
				}
			}
		}
	}
}
@include media-breakpoint-down( xs ){
	.header__wrap{
		#navToggler[type=checkbox]:checked{
			& ~ .header__nav{
				left: 30%;
				visibility:visible;
			}
		}
	}
}