@import "utils/variables";
@import "utils/buttons";
@import "utils/helpers";
@import "utils/typography";

.error404{
	display: flex;
	align-items: center;
	align-content: center;
	&__wrap{
		flex-wrap: wrap;
		h1, h2{
			width: 100%;
			text-align: center;
		}
	}
	&__title{
		@include fontSize(200px);
		line-height: 1;
		font-weight: $xbold;
		position: relative;
		margin: 0;
	}
	&__content{
		@include fontSize(40px);
		line-height: 1;
		font-weight: $bold;
		margin: 20PX 0 50px;
	}
	&__button{
		background: $alt;
		color: $base;
		&:hover{
			background: darken($alt, 10%);
			// color: $base;
		}
	}
}