main:first-of-type{
	margin-top: $nav-bar-height;
	min-height: 90vh;
}

.post{
	&__wrap{}
	&__title{
		max-width: 900px;
		width: 100%;
		margin: 30px auto;
	}
	&__content{
		max-width: 900px;
		margin: 0 auto 0;
	}
}