@keyframes beatHeart {
	0% {
		transform: scale(1);
	}
	25% {
		transform: scale(1.1);
	}
	40% {
		transform: scale(1);
	}
	60% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

#preloader{
	width: 100%;
	height: 100%;
	position: fixed;
	top:0;
	z-index: 999;
	background: #fff;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	
	visibility: hidden;
	opacity: 1;
	transition: 0.5s ease;
	
	&.preloader{
		transition:none !important;
		visibility:visible;
		img{
			width: 150px;
			animation: .8s infinite beatHeart;
		}
	}
}

html.fixed{
	overflow: hidden;
}