.cookie-bar{
	&__wrap{
		width: 100%;
		min-height: 50px;
		position: fixed;
		bottom: -200px;
		z-index: 99;
		background: rgba($base, .7);
		display: flex;
		justify-content: flex-end;
		@include fontSize(16px);
		line-height: 1.5;
		transition: .4s;
		&.active{
			bottom: 0;
		}
	}
	&__more{
		color: $white;
		display: flex;
		text-decoration: none;
		background: $alt;
		padding: 5px 15px;
		margin: 0 0 0 10px;
		transition: all 300ms ease-in-out;
		&:hover {
			background: $base;
			color: $white;
		}
	}
	&__desc{
		display: flex;
		align-items: center;
		padding: 10px;
		text-align: right;
	}
	&__accept{
		display: flex;
		transition: all 300ms ease-in-out;
		background: $base;
		padding: 5px 20px;
		color: $white;
		cursor: pointer;
		justify-content: center;
		align-items: center;
		&:hover {
			background: $alt;
			color: $base;
		}
	}
}