body.home {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	
	.content{
		z-index: 1;
		margin: 0;
		padding: 0;
		width: 100%;
		min-height: 100vh;
		background-color: #fff;
	}
	&.under{
		min-height: calc(200vh); // 100vh + content height
		.content{
			position: fixed;
			top: 0;
			left: 0;
		}
	}
	&:not(.under){
		min-height: 100vh;
		.content{
			margin-top: 100vh;
		}
		.curtain{
			box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
		}
	}
}
.curtain{
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100%;
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	// background: url(http://lorempixel.com/1920/1080/cats/) no-repeat bottom center;
	// box-shadow: 0 5px 15px 7px rgba(0, 0, 0, 0.5);
	transition: box-shadow 0.4s;
}
