#image_extender{
	position: fixed;
	z-index: 99;
	background: rgba(0,0,0,0.9);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	user-select: none;
	#container{
		width: 90vw;
		height: 90vh;
		position: absolute;
		top: 5vh;
		left: 5vw;
		display: flex;
		align-items: center;
		justify-content: center;
		img{
			max-width: 100%;
			max-height: 100%;
			transition: .3s;
		}
		&:after{
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}
	#exit{
		cursor: pointer;
		float: right;
		// padding: 0 40px;
		position: relative;
		z-index: 99;
		width: 40px;
		height: 40px;
		top: 20px;
		right: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		&:after,&:before{
			display: block;
			content: '';
			height: 1px;
			width: 100%;
			background: #fff;
			position: absolute;
		}
		&:before{
			transform: rotate(45deg);
		}
		&:after{
			transform: rotate(-45deg);
		}
		&:hover{
			&:after,&:before{
				height: 2px;
			}
		}
	}
	$arrow_color: darken(#fff, 40%);
	$border: 2px;
	.arrow{
		width: 5vw;
		height: 200px;
		// background: red;
		position: absolute;
		display: flex;
		justify-content:center;
		align-items: center;
		cursor: pointer;
		top: calc(50% - 100px);
		@include media-breakpoint-down( sm ){
			display: none;
		}
		&:hover{
			background: rgba(#fff,.1);
		}
		span{
			width: 3vw;
			height: 3vw;
			display: block;
			position: absolute;
		}
		&--prev{
			left: 0;
			span{
				border-top:$border solid $arrow_color;
				border-left:$border solid $arrow_color;
				transform: rotate( -45deg );
			}
		}
		&--next{
			right: 0;
			span{
				border-top:$border solid $arrow_color;
				border-right:$border solid $arrow_color;
				transform:rotate( 45deg);
			}
		}
	}
	#counter{
		position: absolute;
		bottom: 10px;
		right: 0;
		left: 0;
		text-align: center;
		font-size: 20px;
	}
}